/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {  
    font-size: 15px !important;  
} 

html,
body {
   margin:0;
   padding:0;
   height:100%;   
}
#content {
   /*min-height:93%;
   position:relative;*/
}
#header {
   padding:0px;
}
#body {
	
   padding:10px;
   padding-bottom:60px;
}
#footer {
   width:100%;
   height:20px;  
   background:#BDBDBD;
   margin-top: 20px;
}

.old {
	background-color:lightgrey;
	color: black;
}

.warning {
    color: orange;
}

div#logo {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

div#panel-login-principal_footer {
	text-align: center;
}

.ui-datatable input.ui-column-filter {
	width: 90%;
}

table.avaliacao {
	border-collapse: collapse;
}

table.avaliacao .centerBold {
	text-align: center;
	font-weight: bold;
}

table.avaliacao td,
table.avaliacao th {
	border: 1px solid black;
	padding: 5px;
}

span.block {
	display: block;
}

div.observation {
	margin-top: 10px;
	margin-bottom: 10px;	
}

div.observation textarea {
	width: 892px;
}
